// Add your own CSS here!
html {
  --accent: #5dffd6;
}

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #171717 !important;
  --dark: var(--accent) !important;
  --secondary: var(--accent) !important;
  --visited: #4a575e !important;
  --tertiary: var(--accent) !important;
  --primary: #f58382 !important;
  --gray: #ffffff !important;
  --lightgray: #6d6d6d !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}